:root {
  --background-color: rgb(29, 50, 78);
  --color: #fff;
  --main-link-background-color: #bce7d3;
  --main-link-color: #0a121c;
  --main-max-width: 50rem;
  --main-padding: 1.5rem 3.2rem 1.6rem 3.1rem;
}

/* Defaults */
body {
  background-color: var(--background-color);
  color: var(--color);
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-weight: normal;
  line-height: 1.625;
  margin: 0;
}

h1 {
  font-weight: 800;
  margin-top: 0;
}

h2, h3, h4, h5, h6 {
  font-weight: bold;
}

img {
  max-width: 90%;
}

/* Layout */
header, footer {
  align-items: center;
  background-color: var(--background-color);
  color: var(--color);
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  padding: var(--main-padding);
  position: relative;
}

header a, footer a {
  color: #fff;
  opacity: 0.9;
  text-wrap: nowrap;
}

header a:hover, footer a:hover,
header a:focus, footer a:focus {
  transition: opacity 0.3s ease;
  opacity: 1;
}

main {
  background-color: #fff;
  color: #152336;
  min-height: 100%;
}

main > article {
  padding: var(--main-padding);
  max-width: var(--main-max-width);
}


/** Max content width */
@media (min-width: 1080px) {
    header, main > *, footer {
        margin: 0 auto;
        max-width: calc(1080px - 6.2rem);
    }
}


/* Classes */
.icon-text {
  vertical-align: top;
  width: 1.6rem;
}

.left-block {
  display: block;
  max-width: 36rem;
}

.section-separated {
  margin-top: 3rem;
  border-top: 1px solid var(--background-color);
}

.main-link {
  background: var(--main-link-background-color);
  border-radius: 3rem;
  color: var(--main-link-color);
  cursor: pointer;
  display: inline-block;
  font-size: 1.1rem;
  text-decoration: none;
  opacity: 1;
  padding: .9rem 1.6rem 1rem 1.5rem;
}

.use-case-list, .use-case-list ol {
  counter-reset: item;
}

.use-case-list > li, .use-case-list > li > h2 {
  font-size: 1.6rem;
  font-weight: bold;
}

.use-case-list > li > ol {
  font-size: 1rem;
  font-weight: normal;
}

.use-case-list li {
    display: block;
    position: relative;
}

.use-case-list li:before {
    content: counters(item, ".")".";
    counter-increment: item;
    position: absolute;
    margin-right: 100%;
    right: 10px;
}
